.about{
    margin-bottom: 94px;
}

.about__skrollContainer{
    margin: auto;
}

.about__sliderContainer {
    width: 82.4%;
}

.about__navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__title{
    width: 100%;
}

.about__item {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 432px;
    background-color: var(--color-white);
}

.about__paragraph{
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 700;
    line-height: 43.88px;
    margin: 0;
}

.about__img {
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 224px;
    height: auto;
}

.about__description{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}


@media screen and (max-width: 1700px) {
    .about__sliderContainer {
        width: 92%;
    }
}

@media screen and (max-width: 1300px) {
    .about__sliderContainer {
        width: 97%;
    }

    .about__navContainer{
        padding-bottom: 0;
    }

    .about__title{
        font-size: 24px;
    }
}