.burgerMenu {
    width: 100%;
    display: block;
    position: absolute;
    top: 190px;
    left: 0;
    z-index: 10;
    transition: top 0.3s ease;
    height: 100vh;
    background-color: var(--color-black-opacity-burger);
    
}

@media (max-width: 1300px) {
    .burgerMenu {
        top: 92px;
    }
}

.burgerMenu_hidden {
    display: none;
}

.burgerMenu__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: var(--color-background-light);
}

.burgerMenu__item {
    border-top: 1px solid var(--color-accent-pink-opacity);
    padding: 30px 0;
}

.burgerMenu__link {
    width: 64%;
    margin: auto;
    display: block;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
    color: var(--color-main);
    position: relative;
    padding-left: 20px;
}

.burgerMenu__link::after {
    content: '';
    position: absolute;
    top: 27%;
    left: 0;
    background-image: url(../../img/arrow-black.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
}
