.btn {
    font-size: 16px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 100px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btn-primary {
    background-color: var(--color-accent-pink);
    border: 1px solid var(--color-accent-pink);
    border-radius: 100px;
    color: var(--color-white);
}

.btn-primary:hover {
    background-color: var(--color-white);
    border: 1px solid var(--color-accent-pink);
    color: var(--color-accent-pink);
}

.btn-secondary {
    border: 1px solid var(--color-accent-pink);
    color: var(--color-accent-pink);
    background-color: transparent;
}

.btn-secondary:hover {
    color: white;
    background-color: var(--color-accent-pink);
}

.btn-secondary-grey {
    background-color: var(--color-white);
    color: var(--color-accent-pink);
    border: 1px solid var(--color-white);
}

.btn-secondary-grey:hover {
    background-color: transparent;
    color: white;
}

.btn-arrow:after {
    position: relative;
    right: 0;
    top: 3px;
    content: "🡥";
    font-size: 20px;
}

.btn-arrow:hover .arrow {
    fill: white;
}

.container {
    width: 64%;
    margin: auto auto 53px;
}

section:not(.no-effect) {
    position: relative;
    opacity: 0;
    top: 50px;
    -webkit-transition: top 0.5s, opacity 0.5s;
    -o-transition: top 0.5s, opacity 0.5s;
    transition: top 0.5s, opacity 0.5s;
}
