.getCalculation__container {
    width: 64%;
    margin: 0 auto;
    padding: 40px 0 54px;
}

.getCalculation__title {
    width: 44%;
    padding-bottom: 45px;
}

.getCalculation__paragrapgh{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin: 0;

    width: 44%;
}

@media screen and (max-width: 1700px) {
    .getCalculation__container{
        width: 84%;
    }
}

@media screen and (max-width: 1300px) {
    .getCalculation__container{
        width: 94%;;
        padding: 7px 0 20px;
    }

    .getCalculation__title{
        width: 100%;
        padding-bottom: 18px;
    }

    .getCalculation__paragrapgh{
        font-size: 14px;
        line-height: 23px;

        width: 100%;
    }
}