.grid-cards {
    padding: 103px 0;
}

.grid-cards__container {
    width: 64%;
    margin: 0 auto;
}

.grid-cards__container_runningLine {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.grid-cards__containerTitle{
    width: 64%;
    margin: 0 auto;
}

.grid-cards__title {
    margin-bottom: 40px;

    padding-bottom: 60px;
    margin: 0;
    text-align: left;

    width: 700px;
}

.grid-cards__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    justify-content: center;
}

.grid-cards__item {
    width: 100%;
    max-width: 292px;
    height: 150px;
    background-color: var(--color-white);
    border-radius: 30px;

    position: relative;
}

.grid-cards__img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: sepia(700%) saturate(500%) hue-rotate(192deg) brightness(0.9);

    width: 110px;
    height: 30px;
}

.grid-cards__container_animation {
    overflow: hidden;
}

.grid-cards__grid_animation {
    display: flex;
    flex-wrap: nowrap;
    animation: scroll-right 40s linear infinite;
    margin-bottom: 20px;
}

.grid-cards__grid_animationReverse {
    display: flex;
    flex-wrap: nowrap;
    animation: scroll-left 40s linear infinite;
}

.grid-cards__item {
    flex-shrink: 0;
}

@keyframes scroll-right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}

@media (max-width: 1700px) {
    .grid-cards__containerTitle {
        width: 84%;
    }

    .grid-cards__container {
        width: 84%;
    }

    .grid-cards__container_runningLine {
        width: 100%;
    }

    .grid-cards__item {
        border-radius: 10px;
    }
}

@media (max-width: 1300px) {
    .grid-cards__containerTitle {
        width: 94%;
    }

    .grid-cards__container {
        width: 94%;
    }

    .grid-cards__container_runningLine {
        width: 100%;
    }

}

@media (max-width: 1024px) {
    .grid-cards {
        padding: 50px 0;
    }

    .grid-cards__container {
        width: 94%;
    }

    .grid-cards__title {
        font-size: 24px;
        line-height: 29px;
        padding-bottom: 20px;
        width: 100%;
    }

    .grid-cards__containerTitle {
        width: 100%;
    }

    .grid-cards__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .grid-cards__grid_animation, .grid-cards__grid_animationReverse {
        animation: none;
    }

    .grid-cards__grid_animationReverse {
        display: none;
    }

    .grid-cards__img{
        width: 91px;
        height: 25px;
    }
}

@media (max-width: 768px) {
    .grid-cards__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .grid-cards__item {
        height: 80px;
    }
}

@media (max-width: 360px) {
    .grid-cards__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 3px;
    }

    .grid-cards__item {
        width: 167px;
        height: 70px;
    }
}
