.header__container {
    width: 64%;
    margin: 0 auto;
}

.header__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0;
}

.header__logo {
    width: 70px;
    height: 70px;
}

.header__phone-container {
    width: 32px;
    height: 32px;
    position: relative
}

.header__iconPhone {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -56%);
    width: 16px;
    height: 16px;
}

.header__slogan {
    width: 250px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin: 0;
    padding-bottom: 8px;
}

.header__phone {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin: 0;
    text-decoration: none;
    color: var(--color-black);
}


.header__accreditation,
.header__support-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--color-accent-blue);
    padding: 0;
    margin: 0;

}

.header__support-button {
    background-color: transparent;
    border: none;
}

.header__contact-block {
    display: flex;
    gap: 23px;
    justify-content: flex-start;
    align-items: center;
    width: 232px;
}

.header__contact-block:first-child {
    padding-right: 123px;
}

.header__nav {
    margin: 10px 0;
    padding: 22px 0;
    border-top: 1px solid var(--color-black-opacity);
    border-bottom: 1px solid var(--color-black-opacity);
    z-index: 2;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 64%;
    margin: auto;
}

.header__item, .header__burger-button {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    cursor: pointer;
}

.header__link {
    text-decoration: none;
    color: var(--color-black);
    transition: color .2s ease;
}

.header__link:hover {
    color: var(--color-accent-blue);
}

.header__burger-button {
    background-color: transparent;
    border: 0;
    padding: 0;
    color: var(--color-black);
    cursor: pointer;


    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
}

.header__burger-button:hover .header__burger-button-img {
    transition: background-image 0.3s ease, opacity 0.3s ease;
    background-image: url('../../img/burger-button-active.svg');
}

.header__burger-button-img {
    box-sizing: border-box;
    padding: 0;
    padding-left: 30px;
    width: 16px;
    height: 16px;
    background-image: url(../../img/burger-button.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.header__burger-button-img_active {
    transition: background-image 0.3s ease, opacity 0.3s ease;
    background-image: url('../../img/burger-button-active.svg');
}

.header__mobile-buttons-container {
    display: none;
}

@media screen and (max-width: 1750px) {
    .header__container, .header__list {
        width: 84%;
    }

    .header__phone-container {
        width: 36px;
        height: 36px;
    }

    .header__details {
        padding: 20px 0;
    }

    .header__logo {
        width: 50px;
        height: 50px;
    }

    .header__contact-block {
        gap: 10px;
    }
}

@media screen and (max-width: 1300px) {
    .header__container {
        width: 94%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__nav, .header__callback-button, .header__contact-block:not(:first-child) {
        display: none;
    }

    .header__mobile-buttons-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
    }

    .header__burger-button-img {
        padding: 0;
        width: 28px;
        height: 28px;
    }

    .header__burger-button_active {
        background-image: url('../../img/burger-button-active.svg');
    }

    .header__contact-block:first-child {
        padding-right: 0;
    }

    .header__slogan {
        font-size: 12px;
        line-height: 15px;
        width: 100%;
    }

    .header__accreditation, .header__support-button {
        font-size: 10px;
        line-height: 12px;
    }

    .header__phone-button {
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
    }
}