.btn {
    position: relative;
}

.main {
    position: relative;
    overflow: hidden;
    background-image: url('../../img/img-main.png');
}

.main__container {
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main__container_spacebetween {
    gap: 21px;
    justify-content: space-between;
}

.main__description {
    max-width: 688px;
    margin: 90px 0 192px;
    z-index: 1;
}

.main__title {
    padding-bottom: 32px;
}

.main__slogan {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 39px;
    margin: 0;
    margin-bottom: 37px;
}

.main__slogan_smaill {
    font-size: 20px;
    line-height: 30px;
}

.main__video-container {
    position: absolute;
    top: -76px;
    right: 60px;
    width: 850px;
    height: 876px;
}

.main__video-container_second {
    z-index: -1;
}

.main__video-container:last-child {
    top: -76px;
    right: 0px;
    width: 850px;
    height: 876px;
}

.main__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mask: url(#video-mask);
    -webkit-mask: url(#video-mask);
}

.second-video .main__video {
    mask: url(#video-mask-2);
    -webkit-mask: url(#video-mask-2);
    opacity: 0.2;
    transform: rotate(129deg);
}

.main__actionList {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 37px;
}

.main__actionItem {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
    position: relative;
    padding-left: 35px;
}

.main__actionItem::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: var(--color-accent-pink);
    border-radius: 10px;

    background-image: url('../../img/point-list-arrow.svg');
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    padding: 5px;
    box-sizing: border-box;
}

.main__img {
    width: 560.92px;
    height: 574px;
}

.main__img_screen {
    width: 516px;
    height: 516px;
}

@media screen and (max-width: 1750px) {
    .main__container {
        width: 84%;
    }

    .main__slogan {
        font-size: 24px;
        line-height: 36px;
    }
}

@media screen and (max-width: 1300px) {
    .main__description {
        min-width: auto;
    }

    .main__container {
        width: 94%;
    }

    .main__mask {
        display: none;
    }

    .main__video-container {
        position: static;
        width: 100%;
        height: 380px;
    }

    .second-video {
        display: none;
    }

    .main__video {
        mask: none;
        -webkit-mask: none;
        background-color: aliceblue;
    }

    .main__img {
        width: 436.48px;
        height: 442px;
    }
}

@media screen and (max-width: 1024px) {
    .main {
        margin-bottom: 48px;
    }

    .main__description {
        margin: 30px 0;
    }

    .main__container_spacebetween {
        margin-top: 30px;
        flex-direction: column-reverse;
    }

    .main__img {
        width: 236.48px;
        height: 242px;
    }

    .main__title {
        padding-bottom: 22px;
    }

    .main__slogan {
        font-size: 16px;
        line-height: 24px;
    }

    .main__button {
        width: 100%;
    }

    .main__video {
        display: none;
    }

    .main__video-container {
        background: url("../../img/main-bg-mobile.jpg") no-repeat;
        background-size: cover;
    }
}