
.popup {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    padding: 50px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 35px;
}

.popup_callBack {
    width: 737px;
}

.popup_getCatalog, .popup_needProject {
    width: 581px;
}

.popup_showMoreInfo {
    width: 1228px;
    padding: 0;
}

.popup .f-button {
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    color: black;
}

.popup__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.popup__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup__containerImg {
    background-color: var(--color-accent-grey);
    height: 100%;
    width: 396px;
    min-width: 396px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__containerDescription {
    padding: 47px;
}

.popup__title {
    margin-bottom: 20px;
}

.popup__title_pink {
    color: var(--color-accent-pink);
}

.popup__img {
    max-width: 308px;
    max-height: 220px;
    object-fit: contain;
}

.popup__paragraph {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
    margin-bottom: 20px;
}

.popup__inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.popup__inputs_getCatalog, .popup__inputs_needProject {
    flex-direction: column;
    gap: 30px;
}

.popup__field {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.popup__field_getCatalog, .popup__field_needProject {
    width: 100%;
}

.popup__input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid var(--color-accent-blue);
    opacity: .3;

    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    outline: none;
}

.popup__label {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--color-accent-blue);
    opacity: .3;
}

.popup__button {
    width: 100%;
}

.popup__checkboxContainer {
    display: flex;
    align-items: center;

    gap: 10px;
}

.popup__checkbox {
    flex-shrink: 0;
    position: relative;
    width: 28px;
    height: 28px;
    appearance: none;
    background-color: var(--color-accent-light-blue);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.popup__checkbox:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 14px;
    border-right: 3px solid var(--color-accent-blue);
    border-bottom: 3px solid var(--color-accent-blue);
    transform: translate(-50%, -60%) rotate(45deg);
    box-sizing: border-box;
}

.popup__checkboxLabel {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin: 0;
    color: var(--color-accent-blue);
    opacity: .3;
}

.popup__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.popup__item {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
}

.popup__item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: var(--color-accent-pink);
    border-radius: 10px;

    background-image: url('../../img/point-list-arrow.svg');
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    padding: 5px;
    box-sizing: border-box;
    margin-right: 10px;
    vertical-align: middle;
}

@media screen and (max-width: 1024px) {
    .popup {
        padding: 30px 20px;
    }

    .popup_showMoreInfo {
        padding: 0;
    }

    .f-button {
        top: 15px !important;
        right: 15px !important;
    }

    .f-button svg {
        fill: #222128 !important;
    }

    .popup__inputs {
        flex-direction: column;
        gap: 30px;
    }

    .popup__field {
        width: 100%;
    }

    .popup__container {
        flex-direction: column-reverse;
    }

    .popup__containerImg {
        width: 100%;
        min-width: 100%;
        min-height: 276px;
    }

    .popup__img {
        max-width: 270px;
        max-height: 193px;
    }
}

.f-button.is-next,
.f-button.is-prev,
.f-thumbs__viewport {
    display: none !important;
}