.readyProjects {
    margin-bottom: 90px;
}

.readyProjects__container {
    width: 64%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.readyProjects__sliderContainer {
    padding-bottom: 56px;
}

.readyProjects__title {
    padding-bottom: 19px;
    width: 100%;
}

.readyProjects__text{
    padding: 32px 23px;
}

.readyProjects__description {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    opacity: .5;
}

.readyProjects__description_color_pink {
    color: var(--color-accent-pink);
}

@media screen and (max-width: 1700px) {
    .readyProjects__container{
      width: 84%;
    }
}

@media screen and (max-width: 1300px) {
    .readyProjects {
        margin-bottom: 20px;
    }
    
    .readyProjects__container {
      width: 94%;
    }
}