.typicalSolutions__container {
    width: 64%;
    margin: 93px auto;
}

.typicalSolutions__navigation {
    margin-bottom: 20px;
}

.typicalSolutions__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.typicalSolutions__item {
    width: calc(100% / 3);
}

.typicalSolutions__button {
    width: 100%;
    height: 84px;
    background-color: var(--color-white);
    border-radius: 30px;
    border: 0;

    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
}

.typicalSolutions__button_active {
    background-color: var( --color-accent-blue);
    color: var(--color-white);
}

.typicalSolutions__description{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
}

.typicalSolutions__article, .typicalSolutions__illustration {
    background-color: var(--color-white);
    border-radius: 30px;
    width: calc(50% - 10px);
    padding: 30px;
    box-sizing: border-box;
}

.typicalSolutions__title {
    margin-bottom: 52px;
}

.typicalSolutions__subTitle {
    margin-bottom: 20px;
}

.typicalSolutions__subTitle-article {
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    margin-bottom: 20px;
}

.typicalSolutions__items {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    margin-bottom: 20px;
}

.typicalSolutions__item-article {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    line-height: 30.4px;
}

.typicalSolutions__article ul:last-of-type {
    list-style-type: none;
}

.typicalSolutions__article ul:last-of-type li {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.typicalSolutions__article ul:last-of-type li::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url('../../img/point-list.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;

    margin-top: 7px;
}

.typicalSolutions__illustration {
    margin: 0;
}

.typicalSolutions__img {
    width: 100%;
    height: auto;
    margin-bottom: 18px;
}

.typicalSolutions__legend {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.typicalSolutions__legend-description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.typicalSolutions__legend-text {
    font-family: 'Play';
    font-size: 13px;
    font-weight: 400;
    line-height: 15.04px;
    
}

@media screen and (max-width: 1700px) {
    .typicalSolutions__container {
        width: 84%;
    }
}

@media screen and (max-width: 1300px) {
    .typicalSolutions__container {
        width: 94%;
        margin: 44px auto;
    }
}

@media screen and (max-width: 1024px) {
    .typicalSolutions__description {
        flex-direction: column-reverse;
    }

    .typicalSolutions__article, .typicalSolutions__illustration {
        width: 100%;
    }

    .typicalSolutions__article{
        border-radius: 10px;
        padding: 20px;
    }

    .typicalSolutions__list {
        flex-direction: column;
        gap: 3px;
        margin-bottom: 20px;
    }

    .typicalSolutions__item {
        width: 100%;
    }

    .typicalSolutions__button {
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 700;
        line-height: 17.07px;
        height: 54px;
        border-radius: 10px;
    }

    .typicalSolutions__navigation, .typicalSolutions__list {
        margin-bottom: 10px;
    }

    .typicalSolutions__description {
        gap: 8px;
    }

    .typicalSolutions__subTitle-article {
        margin-bottom: 8px;
    }

    .typicalSolutions__item-article {
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 500;
        line-height: 24.6px;
    }

    .typicalSolutions__title {
        margin-bottom: 30px;
    }
}

