.whyWe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1024px;
    background-color: var(--color-accent-blue);
    position: relative;
    padding-bottom: 50px;
}

.whyWe__list {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.whyWe__item {
    position: absolute;
    transform: translate(-50%, -50%);

    width: 357px;
    border-radius: 10px;
    background-color: var(--color-white-opacity);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease;
}

.whyWe__item_color_pink {
    background-color: var(--color-accent-pink);
}

.whyWe__item_center{
    align-items: center;
}

.whyWe__item_top{
    padding: 32px 15px 50px;
    position: relative;
}

.whyWe__item_left{
    align-items: flex-start;
    padding: 32px 50px 32px 15px;
}

.whyWe__item_right{
    align-items: flex-end;
    padding: 32px 50px 32px 15px;
}

.whyWe__item_bottom{
    padding: 50px 50px 32px 32px;
}

.whyWe__advantage{
    margin: 0;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: var(--color-white);
}

.whyWe__description{
    margin: 0;

    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
    color: var(--color-white);
}

.whyWe__description_center{
    text-align: center;
}

.whyWe__description_right{
    text-align: right;
}

.whyWe__description_left{
    text-align: left;
}

.whyWe__numberContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-accent-blue);
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.whyWe__numberContainer_top{
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.whyWe__numberContainer_bottom{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.whyWe__numberContainer_right{
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
}

.whyWe__numberContainer_left{
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
}

.whyWe__number{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    margin: auto;
    text-align: center;
    color: var(--color-white-opacity);
    transition: color 0.3s ease;
}

.whyWe__item:hover .whyWe__number {
    color: var(--color-accent-pink);
}

@media screen and (max-width: 1400px) {

    .whyWe {
        height: 1304px;
        padding-bottom: 0;
    }

    .whyWe__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
        position: static !important;
        height: max-content;
        transform: none;
    }

    .whyWe__item {
        width: 90%;
        max-width: 500px;
        margin-bottom: 20px;
        position: static !important;
        height: max-content;
        transform: none;
        align-items: flex-start;
        text-align: left;
        padding: 32px 15px;
    }

    .whyWe__numberContainer {
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
    }

    .whyWe__description,
    .whyWe__advantage {
        text-align: left;
    }

    .whyWe__item_top, .whyWe__item_right, .whyWe__item_bottom, .whyWe__item_left{
        position: relative !important;
        top: auto !important;
        bottom: auto !important;
        left: auto !important;
        right: auto !important;
        padding: 29px 15px 24px 50px;
    }

    .whyWe__advantage{
        font-size: 18px;
        line-height: 25px;
    }
}
