.whyWe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1200px;
    background-color: var(--color-accent-blue);
    position: relative;
}

.whyWe__list {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.whyWe__item {
    position: absolute;
    transform: translate(-50%, -50%);

    width: 357px;
    padding: 32px 10px;
    border-radius: 10px;
    background-color: var(--color-white-opacity);
}

.whyWe__item_center{
    text-align: center;
}

.whyWe__advantage{
    margin: 0;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: var(--color-white);
    text-align: left;
}

.whyWe__description{
    margin: 0;

    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
    color: var(--color-white);
    text-align: left;
}

@media screen and (max-width: 1400px) {
    .whyWe__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
        position: static !important;
        height: max-content;
        transform: none;
    }

    .whyWe__item {
        width: 90%;
        max-width: 500px;
        margin-bottom: 20px;
        position: static !important;
        height: max-content;
        transform: none;
    }
}